body{
  background: url(https://images.unsplash.com/photo-1503431128871-cd250803fa41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-position: center;
  font-family: lato;
}


#content
{
  text-align: center;
  padding-top: 25%;
  text-shadow: 4px 3px 12px black;
}

h1, h3
{
  color: white;
}

h1
{
  font-weight: 700;
  font-size: 5em;
}

hr{
  width: 405px;
  border: .1px solid white;
}
